.paginator .pagination {
    margin: 5px 0;
}

.upper-head {
    height: 250px;
}

.post-form {
    margin: 0 10px;
}

.post-form-unit {
    margin: 0 5px;
}

.posts-container {
    padding: 20px;
}

#gb_form_post textarea {
    height: 150px;
}

#gb_form_post button {
    width: 100%;
}
